:root {
  --main-bg-color: #f4f4f4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--main-bg-color);
  color: #626776;
}

.menu {
  position: fixed;
  background: #6e6f72;
  display: flex;
  justify-content: right;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;

  text-align: center;
}
a {
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.85s;
}

:hover a {
  color: #d94f5c;
}

.contact-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: 0 0 40px #000;
}

.form input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
}

button:hover {
  transform: scale(1.2);
}

/* make the message textbox bigger */
#message {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 10px;
  font-family: inherit;
  padding: 40px;
  width: 200%;
}

.form button {
  background-color: #d94f5c;
  border: 2px solid #2e408eac;
  border-radius: 4px;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-family: inherit;
}

/* contact styles end*/
