@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root {
  --main-bg-color: #242323;
  --main-tx-color: #f4f4f4;
  --main-nav-color: #f4f4f4;
  --main-hover-color: #52237b;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--main-bg-color);
  color: #626776;
}
.menu {
  position: relative;
  background: var(--main-nav-color);
  width: 100%;
  height: 10px;
  padding: 20px;
  display: inline-block;
  margin: 0 auto;
  list-style: none;
  word-spacing: 4pxpx;
  letter-spacing: 2px;
}

.menu li {
  width: 100%;
  display: inline;
  word-spacing: 4pxpx;
  letter-spacing: 2px;
}
a {
  font-size: 15px;
  color: var(--main-bg-color);
  text-decoration: none;
  transition: all 0.85s;
}

:hover a {
  color: var(--main-hover-color);
}

body {
  color: var(--main-tx-color);
}
.contact-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: 0 0 40px #000;
}

.form input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
}

button:hover {
  transform: scale(1.2);
}
textarea {
  padding: 20px;
  width: auto;
  height: auto;
  outline: none;
}

.form button {
  background-color: #d94f5c;
  border: 2px solid #2e408eac;
  border-radius: 4px;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-family: inherit;
}

/* contact styles end*/
